<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div>
        <form:form method="POST" action="/booksearch" modelAttribute="book">
            <form:label for="title">Title (*contains)</form:label>
            <form:input type="text" id="title" name="title" placeholder="Book title.."/>

            <form:input type="submit" value="Search by book title"/>
        </form:form>
    </div>
</body>

</html>