<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
    <table id="books">
        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr th:each="book, iStat : ${books}" th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td>
                    <a th:href="@{${book.title}}" th:text="${book.title}"/>
                </td>
                <td th:text="${book.author}" />
                <td th:text="${book.description}" />
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="booksearch.html">Search by book title</a>
</body>

</html>